<div mat-dialog-title class="d-flex justify-content-between align-items-center app-dialog-title">
  <span> Add Invoice </span>
  <button mat-button mat-icon-button (click)="onCancel()">
    <mat-icon> close </mat-icon>
  </button>
</div>
<mat-dialog-content class="app-content">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="invoiceFormGroup">
      <ng-template matStepLabel>Basic Info</ng-template>
      <form novalidate [formGroup]="invoiceFormGroup">
        <mat-form-field class="pb-3 w-100">
          <mat-label>Customer</mat-label>
          <input matInput placeholder="Please enter a customer." formControlName="customer" required>
        </mat-form-field>
        <mat-form-field class="pb-3 w-100">
          <mat-label>Payment Method</mat-label>
          <input matInput placeholder="Please enter a payment method." formControlName="paymentMethod" required>
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fill out the details</ng-template>
      <form novalidate [formGroup]="invoiceFormGroup">
        <div formArrayName="details">
          <div [formGroupName]="i" *ngFor="let detail of details.controls; let i=index">
            <div class="d-flex flex-fill align-items-center">
              <div class="p-2 flex-grow-1">
                <mat-form-field class="w-100">
                  <mat-label>Article</mat-label>
                  <input matInput id="{{ 'article' + i }}" placeholder="Please enter a article."
                    formControlName="article" required>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="w-100">
                  <mat-label>Quantity</mat-label>
                  <input matInput id="{{ 'quantity' + i }}" placeholder="Please enter a quantity."
                    formControlName="quantity" required>
                </mat-form-field>
              </div>
              <div class="p-2" [matTooltip]="requiredArticle ? 'Disabled' : 'Delete article'">
                <button mat-button mat-icon-button [disabled]="requiredArticle" (click)="removeDetail(i)">
                  <mat-icon [color]="requiredArticle ? '' : 'warn'">delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-md-4" [matTooltip]="details.valid ? 'Add another article detail' : 'Disabled until the existing detail data is
              valid'">
              <button mat-flat-button color="primary" [disabled]="!details.valid" (click)="addDetail()">
                Add Another Article
              </button>
            </div>
          </div>
        </div>
      </form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <h4>Invoice Form Group</h4>
      <p> {{ invoiceFormGroup.value | json }}</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
