<div mat-dialog-title class="row d-flex justify-content-between align-items-center app-dialog">
  <span> Add Menu </span>
  <button mat-button mat-icon-button [mat-dialog-close]="true">
    <mat-icon> close </mat-icon>
  </button>
</div>
<div mat-dialog-content class="app-content">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Basic Info</ng-template>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput placeholder="Please enter a title" formControlName="title" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput placeholder="Please enter a price" formControlName="price" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <input matInput placeholder="Please enter a category" formControlName="category" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Please enter a description" formControlName="description" required></textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <mat-label>Article</mat-label>
          <input matInput placeholder="Ex. Cheese" formControlName="article" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input matInput placeholder="Please enter a quantity" formControlName="quantity" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <h4>First Form Group</h4>
      <p> {{ firstFormGroup.value | json }}</p>
      <h4>Second Form Group</h4>
      <p> {{ secondFormGroup.value | json }}</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
