<div class="card container col-9 my-4 px-0">
  <!-- Header -->
  <div class="header d-flex justify-content-between">
    <!-- Title -->
    <div class="row d-flex align-items-center">
      <button mat-mini-fab disabled class="mr-3">
        <mat-icon>{{ icon }}</mat-icon>
      </button>
      <h1>{{ title }}</h1>
    </div>
    <div class="row d-flex align-items-center">
      <!-- Search -->
      <mat-form-field appearance="none" class="app-form-field ml-3">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search..." #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <!-- Button -->
      <button mat-raised-button color="primary" class="ml-3" *ngIf="createAction" (click)="onSubmit({})">
        <mat-icon [inline]="true">add</mat-icon> Add new
      </button>
    </div>
  </div>
  <hr class="m-0">
  <div>

    <!-- Progress Bar -->
    <div class="progress-bar">
      <mat-progress-bar mode="query" *ngIf="dataSource.loading$ | async"></mat-progress-bar>
    </div>

    <mat-table matSort matSortDisableClear="true" [dataSource]="dataSource">

      <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column.columnDef" [ngSwitch]="true">
        <!-- SwitchCase number -->
        <ng-container
          *ngSwitchCase="column.columnDef === 'stockUnits' || column.columnDef === 'fein' || column.columnDef === 'id'">
          <mat-header-cell mat-sort-header *matHeaderCellDef> {{ column.header  | uppercase }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ column.cell(row) | number }} </mat-cell>
        </ng-container>
        <!-- SwitchCase currency -->
        <ng-container
          *ngSwitchCase="column.columnDef ==='price' || column.columnDef === 'unitPrice' || column.columnDef === 'totalAmount'">
          <mat-header-cell mat-sort-header *matHeaderCellDef> {{ column.header  | uppercase }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ column.cell(row) | currency }} </mat-cell>
        </ng-container>
        <!-- SwitchCase date -->
        <ng-container *ngSwitchCase="column.columnDef === 'createdAt'">
          <mat-header-cell mat-sort-header *matHeaderCellDef> {{ column.header  | uppercase }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ column.cell(row) | date:'dd-MM-yyyy' }} </mat-cell>
        </ng-container>
        <!-- SwitchCase category -->
        <ng-container *ngSwitchCase="column.columnDef === 'category' || column.columnDef === 'payment'">
          <mat-header-cell mat-sort-header *matHeaderCellDef> {{ column.header  | uppercase }} </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <!-- <span class="status-chip" [class]="getClass(row)"> {{ row[def] }} </span> -->
            <span class="status-chip"> {{ column.cell(row) }} </span>
          </mat-cell>
        </ng-container>
        <!-- SwitchCase default -->
        <ng-container *ngSwitchDefault>
          <mat-header-cell mat-sort-header *matHeaderCellDef> {{ column.header  | uppercase }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{column.cell(row)}} </mat-cell>
        </ng-container>
      </ng-container>

      <!-- Action column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> ACTIONS </mat-header-cell>
        <mat-cell *matCellDef="let item" (click)="$event.stopPropagation()">
          <!-- Action Button -->
          <button mat-button mat-icon-button matTooltip="More actions" [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before" class="px-1">
            <!-- Update Button -->
            <button mat-menu-item (click)="onSubmit(item)">
              <mat-icon class="app-menu-icon">mode_edit</mat-icon>
              <span>Update</span>
            </button>
            <!-- Delete Button -->
            <button mat-menu-item (click)="onDelete(item)">
              <mat-icon class="app-menu-icon">delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns.concat('actions')"></mat-header-row>
      <mat-row class="table-row" *matRowDef="let item; columns: displayedColumns.concat('actions')"
        (click)="onRead(item)">
      </mat-row>
    </mat-table>

    <mat-paginator [length]="dataSource.length$ | async" [pageSize]="8" [pageSizeOptions]="[4, 8, 12]"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>