<div mat-dialog-title class="d-flex justify-content-between align-items-center app-dialog-title">
  <span> Costumer details </span>
  <button mat-button mat-icon-button (click)="onCancel()">
    <mat-icon> close </mat-icon>
  </button>
</div>
<mat-dialog-content class="app-content">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="row article-cod"> | Cod. {{localData.id}} </div>
          <div class="row dialog-header">
            {{localData.firstName | titlecase}} {{localData.lastName | titlecase}}
          </div>
          <div class="row">
            <div class="element-badge">{{localData.email}}</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="float-right button-col">
          <button mat-raised-button color="primary" class="ml-3">
            <span>Update</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div>
          <div class="detail-header">Fein</div>
          <div class="detail-table">{{localData.fein}}</div>
        </div>
      </div>
      <div class="col">
        <div>
          <div class="detail-header">Phone</div>
          <div class="detail-table">{{localData.phone}}</div>
        </div>
      </div>
      <div class="col">
        <div>
          <div class="detail-header">Created at</div>
          <div class="detail-table">{{localData.createdAt | date:'dd-MM-yyyy'}}</div>
        </div>
      </div>
      <div class="col">
        <div>
          <div class="detail-header">Updated at</div>
          <div class="detail-table">{{localData.updatedAt == null ? "-" : localData.updatedAt | date:'dd-MM-yyyy'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
