.dialog-header {
  font-size: 36px;
  font-weight: 800;
  line-height: 50px;
}

.article-cod {
  font-size: 16px;
  font-weight: 300;
}

.element-badge {
  background-color: #3f51b5;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  padding: 5px 10px;
}

.detail-table {
  border-radius: 0px 0px 30px 30px;
  border: 1px solid #8d8d8d;
  padding: 10px 0px;
  text-align: center;
}

.detail-header {
  border-radius: 30px 30px 0px 0px;
  background-color: #8d8d8d;
  border: 1px solid #8d8d8d;
  color: #ffffff;
  padding: 10px 0px;
  text-align: center;
}

.mat-raised-button {
  height: 42px;
  padding: 0 30px;
  border-radius: 25px;
  font-size: 16px;
}
