<div mat-dialog-title class="d-flex justify-content-between align-items-center app-dialog-title">
  <span> {{ action }} Invoice </span>
  <button mat-button mat-icon-button (click)="onCancel()">
    <mat-icon> close </mat-icon>
  </button>
</div>
<mat-dialog-content class="app-content">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <!-- First Step Start -->
    <mat-step [stepControl]="invoiceFormGroup">
      <ng-template matStepLabel>Basic Info</ng-template>
      <!-- Invoice Form Start -->
      <form novalidate [formGroup]="invoiceFormGroup">
        <!-- Customer Autocomplete -->
        <mat-form-field class="w-100">
          <input matInput placeholder="Please enter a customer." [matAutocomplete]="autoCustomer"
            formControlName="customer">
          <mat-autocomplete #autoCustomer="matAutocomplete" [displayWith]="displayCustomer">
            <mat-option *ngIf="isLoading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let customer of filteredCustomers" [value]="customer">
                <span>{{customer.firstName}} {{customer.lastName}}</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
        <!-- Employee Autocomplete -->
        <mat-form-field class="w-100">
          <input matInput placeholder="Please enter a employee." [matAutocomplete]="autoEmployee"
            formControlName="employee">
          <mat-autocomplete #autoEmployee="matAutocomplete" [displayWith]="displayEmployee">
            <mat-option *ngIf="isLoading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let employee of filteredEmployees" [value]="employee">
                <span>{{employee.firstName}} {{employee.lastName}}</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
        <!-- Payment Autocomplete -->
        <mat-form-field class="w-100">
          <input matInput placeholder="Please enter a payment method." [matAutocomplete]="autoPayment"
            formControlName="payment">
          <mat-autocomplete #autoPayment="matAutocomplete" [displayWith]="displayPayment">
            <mat-option *ngIf="isLoading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let payment of filteredPayments" [value]="payment">
                <span>{{payment.name}}</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <!-- Invoice Form End -->
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <!-- Second Step Start -->
    <mat-step>
      <ng-template matStepLabel>Fill out the details</ng-template>
      <mat-table [dataSource]="details.value">
        <!-- Article Column -->
        <ng-container matColumnDef="article">
          <mat-header-cell *matHeaderCellDef> ARTICLE </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.article.name }} </mat-cell>
          <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
        </ng-container>
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef> QUANTITY </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.quantity | number }} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> AMOUNT </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.amount | currency}} </mat-cell>
          <mat-footer-cell *matFooterCellDef> {{ localData.totalAmount | currency}} </mat-footer-cell>
        </ng-container>
        <!-- Action column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> ACTIONS </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <!-- Edit Button -->
            <button mat-button mat-icon-button matTooltip="Editar" (click)="onSubmit(row)">
              <mat-icon color="primary"> mode_edit </mat-icon>
            </button>
            <!-- Delete Button -->
            <button mat-button mat-icon-button matTooltip="Eliminar" (click)="onDelete(row)">
              <mat-icon color="warn"> delete </mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns.concat('actions')"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns.concat('actions')"></mat-row>
      </mat-table>
      <!-- Boton añadir -->
      <div class="py-3 d-flex flex-row-reverse">
        <button mat-raised-button color="primary" (click)="onSubmit({})">
          <mat-icon [inline]="true" class="mr-2"> add </mat-icon>
          Add detail
        </button>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <!-- Third Step Start -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <h4>Invoice Form Group</h4>
      <p> {{ invoiceFormGroup.value | json }}</p>
      <mat-dialog-actions align="end" class="pb-4">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button (click)="onAction()" cdkFocusInitial> {{ action }} </button>
      </mat-dialog-actions>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
