<div mat-dialog-title class="row d-flex justify-content-between align-items-center app-dialog">
  <span> Add Customer </span>
  <button mat-button mat-icon-button [mat-dialog-close]="true">
    <mat-icon> close </mat-icon>
  </button>
</div>
<div mat-dialog-content class="app-content">
  <form [formGroup]="customerFormGroup" novalidate>
    <div class="row">
      <div class="col">
        <mat-form-field class="pb-3 w-100">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Please enter a first name." formControlName="firstName" required>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="pb-3 w-100">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Please enter a last name." formControlName="lastName" required>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="pb-3 w-100">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Please enter a email." formControlName="email" required>
    </mat-form-field>
    <div class="row">
      <div class="col">
        <mat-form-field class="pb-3 w-100">
          <mat-label>phone</mat-label>
          <input matInput placeholder="Please enter a phone number." formControlName="phone" required>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="pb-3 w-100">
          <mat-label>FEIN</mat-label>
          <input matInput placeholder="Please enter a FEIN number." formControlName="fein" required>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
